img{
    width: 200px; /* Set the desired width */
    height: auto;
    background-color: rgb(240, 4, 4);
}
nav{  

text-align: center;
padding: 1rem;
background: red;
color: blue;
}
body{


    background: wheat;
}
footer{ 



    text-align: center;
    padding: 3rem;
}